@using RunGroupWebApp.ViewModels
@model IEnumerable<UserViewModel>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Users</h1>
    <div class="album py-5 bg-light">
        @if (Model?.Count() > 0)
        {
            <div class="container">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <label class="card-text"><b>Name: </b>@item.UserName</label>
                                <label class="card-text"><b>Mileage: </b>@item.Mileage</label>
                                <label class="card-text"><b>Pace: </b>@item.Pace</label>
                                @if (item.Address != null)
                                {
                                    <label class="card-text"><b>Address: </b>
                                        @item.Address.City (@item.Address.State) @item.Address.Street
                                    </label>
                                }
                            </div>
                            <div class="row align-content-center">
                                <div class="btn-group">
                                    <a asp-controller="User" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">
                                        View
                                    </a>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                    {
                                        <a asp-controller="User" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">
                                            Edit
                                        </a>
                                        <a asp-controller="User" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">
                                            Delete
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <h4 class="text-warning">No users found!</h4>
        }
    </div>
</div>